ion-tab-bar {
  --background: #391a72;
  --color: #fff8dc;
  --color-selected: #d4af37;

  ion-tab-button {
    --color: #fff8dc;
    --color-selected: #d4af37;

    ion-icon {
      font-size: 24px;
    }

    ion-label {
      font-size: 12px;
      font-weight: 500;
    }
  }
}
